results-item {
    display: block;
    padding: 2px 0 20px 10px;
    border-radius: 6px;
    cursor: pointer;
}

results-item:nth-child(2n) {
    background-color: #eeeeee;
}

results-item:hover {
    background-color: #dddddd;
}

.results-item-title {
    font-weight: bold;
}

.results-item-excerpt {
    padding-left: 8px;
}